$bgColor: #E4E9ED;
$bgHeader: rgba(58, 83, 155, 1);
$bgSidebar: rgba(58, 83, 155, .9);
$backgroundGradient1: #0264d6;
$backgroundGradient2: #1c2b5a;

/* link */
$activeLink: #ff9430;

/* hover table */
$trHover: rgba(58, 83, 155, .4);

/* common color */
$black: #282828;
$white: #FFF;
$gray: #B0B0B0;
$softGray: #EEEEEE;
$blue: #1E2229;
$sherpa: #013243;
$orangered: #F5BF42;
$ebony: #22313f;
$blueToday: #00b5cc;
$blueWeekend: #013243;
$blueSelected: #E4F1FE;

/* shift color */
$working: rgba(124, 152, 222, 1);
$standby: rgba(75, 119, 190, 1);
$sickness: rgba(236, 100, 75, 1);
$absence: rgba(244, 179, 80, 1);
$training: rgba(228, 198, 224, 1);