<nav class="navbar navbar-expand navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('default.dashboard') }}">
            <i class="fas fa-database fa-fw"></i>
            SCHOOL DATABASE
        </a>
    </div>
</nav>